OPENAI_API_KEY=xxx
OPENAI_API_BASE=https://api.siliconflow.cn/v1

AZURE_API_KEY=xxx
AZURE_API_BASE=https://duomotai.openai.azure.com/
AZURE_API_VERSION=2025-01-01-preview

HOSTED_VLLM_API_BASE=
LIGHTLLM_API_BASE = http://${ip}:${port}/generate